body{
    background-image: url(kitty.jpg);
}

h1{
    color: pink;
}

li{
    color: red;
}

table{
    color: red;
}

h2{
    color: violet;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h3{
    color:aqua
}